<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript --> <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            $("#tbodyRates").html("");
            showRates();
        });

        // rateChange: +##bp, -##bp, +0bp, N/A
        function colorRates(r) {
            if (r == "+0bp" || r == "N/A") {
                return "rateStay";
            } else if (r.charAt(0) == "+") {
                return "ratePlus";
            } else {
                return "rateMinus";
            }
        }

        function colorZero(r) {
            if (r == "0.00") {
                return "isZero"
            }
        }


        function showRates() {

            var srchYear_field = $('#inputGroupSelectYr option:selected').val()
            var srchMonth_field = $('#inputGroupSelectMn option:selected').val()

            $.ajax({
                type: "GET",
                url: `/rates?srchYear_give=${srchYear_field}&srchMonth_give=${srchMonth_field}`,
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        var rates = response['rates']
                        for (let i = 0; i < rates.length; i++) {
                            var rate = rates[i];

                            var coNum = rate['coNum'];
                            var rank = i + 1;
                            var coName = rate['coName'];
                            var floatRate = rate['floatRate'];
                            var db1y = rate['db1y'];
                            var db2y = rate['db2y'];
                            var db3y = rate['db3y'];
                            var db5y = rate['db5y'];
                            var dc1y = rate['dc1y'];
                            var dc2y = rate['dc2y'];
                            var dc3y = rate['dc3y'];
                            var dc5y = rate['dc5y'];
                            var gubun = rate['gubun'];
                            var period = rate['period'];
                            var bank_check = rate['bank_check'];

                            var floatRatechange = rate['floatRatechange'];
                            var db1ychange = rate['db1ychange'];
                            var db2ychange = rate['db2ychange'];
                            var db3ychange = rate['db3ychange'];
                            var db5ychange = rate['db5ychange'];
                            var dc1ychange = rate['dc1ychange'];
                            var dc2ychange = rate['dc2ychange'];
                            var dc3ychange = rate['dc3ychange'];
                            var dc5ychange = rate['dc5ychange'];

                            var tempHtml = `
    <tr>
        <th class="text-nowrap" scope="row">${rank}</th>
        <th class="text-nowrap" scope="row">${gubun}</th>
        <th class="text-nowrap" scope="row">${coName}</th>
        <td class="">${floatRate}<br><small class="${colorRates(floatRatechange)}">${floatRatechange}</small></td>
        <td class="">${db1y}<br><small class="${colorRates(db1ychange)}">${db1ychange}</small></td>
        <td class="">${db2y}<br><small class="${colorRates(db2ychange)}">${db2ychange}</small></td>
        <td class="">${db3y}<br><small class="${colorRates(db3ychange)}">${db3ychange}</small></td>
        <td class="">${db5y}<br><small class="${colorRates(db5ychange)}">${db5ychange}</small></td>
        <td class="">${dc1y}<br><small class="${colorRates(dc1ychange)}">${dc1ychange}</small></td>
        <td class="">${dc2y}<br><small class="${colorRates(dc2ychange)}">${dc2ychange}</small></td>
        <td class="">${dc3y}<br><small class="${colorRates(dc3ychange)}">${dc3ychange}</small></td>
        <td class="">${dc5y}<br><small class="${colorRates(dc5ychange)}">${dc5ychange}</small></td>
        <td class=""><small>${period}</small></td>
        <td class=""><small>${bank_check}</small></td>
    </tr>
                            `
                            $('#tbodyRates').append(tempHtml);
                        }
                    }
                }
            })
        }

        function filterRates() {

            var srchYear_field = $('#inputGroupSelectYr option:selected').val()
            var srchMonth_field = $('#inputGroupSelectMn option:selected').val()
            var product_field = $('#inputGroupSelectProduct option:selected').val()
            var gubun_field = $('#inputGroupSelectGubun option:selected').val()

            if (gubun_field === 'gubun_all') {
                $("#tbodyRates").html("");

                $.ajax({
                    type: "GET",
                    url: `/filtered?srchYear_give=${srchYear_field}&srchMonth_give=${srchMonth_field}&product_give=${product_field}&gubun_give=${gubun_field}`,
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            // $("#tbodyRates").html("");
                            var rates = response['rates']
                            for (let i = 0; i < rates.length; i++) {
                                var rate = rates[i];

                                var coNum = rate['coNum'];
                                var rank = i + 1;
                                var coName = rate['coName'];
                                var floatRate = rate['floatRate'];
                                var db1y = rate['db1y'];
                                var db2y = rate['db2y'];
                                var db3y = rate['db3y'];
                                var db5y = rate['db5y'];
                                var dc1y = rate['dc1y'];
                                var dc2y = rate['dc2y'];
                                var dc3y = rate['dc3y'];
                                var dc5y = rate['dc5y'];
                                var gubun = rate['gubun'];
                                var period = rate['period'];
                                var bank_check = rate['bank_check'];

                                var floatRatechange = rate['floatRatechange'];
                                var db1ychange = rate['db1ychange'];
                                var db2ychange = rate['db2ychange'];
                                var db3ychange = rate['db3ychange'];
                                var db5ychange = rate['db5ychange'];
                                var dc1ychange = rate['dc1ychange'];
                                var dc2ychange = rate['dc2ychange'];
                                var dc3ychange = rate['dc3ychange'];
                                var dc5ychange = rate['dc5ychange'];

                                var tempHtml = `
    <tr>
        <th class="text-nowrap" scope="row">${rank}</th>
        <th class="text-nowrap" scope="row">${gubun}</th>
        <th class="text-nowrap" scope="row">${coName}</th>
        <td class="">${floatRate}<br><small class="${colorRates(floatRatechange)}">${floatRatechange}</small></td>
        <td class="">${db1y}<br><small class="${colorRates(db1ychange)}">${db1ychange}</small></td>
        <td class="">${db2y}<br><small class="${colorRates(db2ychange)}">${db2ychange}</small></td>
        <td class="">${db3y}<br><small class="${colorRates(db3ychange)}">${db3ychange}</small></td>
        <td class="">${db5y}<br><small class="${colorRates(db5ychange)}">${db5ychange}</small></td>
        <td class="">${dc1y}<br><small class="${colorRates(dc1ychange)}">${dc1ychange}</small></td>
        <td class="">${dc2y}<br><small class="${colorRates(dc2ychange)}">${dc2ychange}</small></td>
        <td class="">${dc3y}<br><small class="${colorRates(dc3ychange)}">${dc3ychange}</small></td>
        <td class="">${dc5y}<br><small class="${colorRates(dc5ychange)}">${dc5ychange}</small></td>
        <td class=""><small>${period}</small></td>
        <td class=""><small>${bank_check}</small></td>
    </tr>
                            `
                                $('#tbodyRates').append(tempHtml);

                            }
                        }
                    }
                })
            } else if (gubun_field === 'gubun_ins') {
                $("#tbodyRates").html("");

                $.ajax({
                    type: "GET",
                    url: `/filtered?srchYear_give=${srchYear_field}&srchMonth_give=${srchMonth_field}&product_give=${product_field}&gubun_give=${gubun_field}`,
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {
                            // $("#tbodyRates").html("");
                            var rates_ins = response['rates_ins']
                            for (let i = 0; i < rates_ins.length; i++) {
                                var rate = rates_ins[i];

                                var coNum = rate['coNum'];
                                var rank = i + 1;
                                var coName = rate['coName'];
                                var floatRate = rate['floatRate'];
                                var db1y = rate['db1y'];
                                var db2y = rate['db2y'];
                                var db3y = rate['db3y'];
                                var db5y = rate['db5y'];
                                var dc1y = rate['dc1y'];
                                var dc2y = rate['dc2y'];
                                var dc3y = rate['dc3y'];
                                var dc5y = rate['dc5y'];
                                var gubun = rate['gubun'];
                                var period = rate['period'];
                                var bank_check = rate['bank_check'];

                                var floatRatechange = rate['floatRatechange'];
                                var db1ychange = rate['db1ychange'];
                                var db2ychange = rate['db2ychange'];
                                var db3ychange = rate['db3ychange'];
                                var db5ychange = rate['db5ychange'];
                                var dc1ychange = rate['dc1ychange'];
                                var dc2ychange = rate['dc2ychange'];
                                var dc3ychange = rate['dc3ychange'];
                                var dc5ychange = rate['dc5ychange'];

                                var tempHtml = `
    <tr>
        <th class="text-nowrap" scope="row">${rank}</th>
        <th class="text-nowrap" scope="row">${gubun}</th>
        <th class="text-nowrap" scope="row">${coName}</th>
        <td class="">${floatRate}<br><small class="${colorRates(floatRatechange)}">${floatRatechange}</small></td>
        <td class="">${db1y}<br><small class="${colorRates(db1ychange)}">${db1ychange}</small></td>
        <td class="">${db2y}<br><small class="${colorRates(db2ychange)}">${db2ychange}</small></td>
        <td class="">${db3y}<br><small class="${colorRates(db3ychange)}">${db3ychange}</small></td>
        <td class="">${db5y}<br><small class="${colorRates(db5ychange)}">${db5ychange}</small></td>
        <td class="">${dc1y}<br><small class="${colorRates(dc1ychange)}">${dc1ychange}</small></td>
        <td class="">${dc2y}<br><small class="${colorRates(dc2ychange)}">${dc2ychange}</small></td>
        <td class="">${dc3y}<br><small class="${colorRates(dc3ychange)}">${dc3ychange}</small></td>
        <td class="">${dc5y}<br><small class="${colorRates(dc5ychange)}">${dc5ychange}</small></td>
        <td class=""><small>${period}</small></td>
        <td class=""><small>${bank_check}</small></td>
    </tr>
                            `
                                $('#tbodyRates').append(tempHtml);
                            }
                            var rates_bank = response['rates_bank']
                            for (let i = 0; i < rates_bank.length; i++) {
                                var rate = rates_bank[i];

                                var coNum = rate['coNum'];
                                var rank = i + 1;
                                var coName = rate['coName'];
                                var floatRate = rate['floatRate'];
                                var db1y = rate['db1y'];
                                var db2y = rate['db2y'];
                                var db3y = rate['db3y'];
                                var db5y = rate['db5y'];
                                var dc1y = rate['dc1y'];
                                var dc2y = rate['dc2y'];
                                var dc3y = rate['dc3y'];
                                var dc5y = rate['dc5y'];
                                var gubun = rate['gubun'];
                                var period = rate['period'];
                                var bank_check = rate['bank_check'];

                                var floatRatechange = rate['floatRatechange'];
                                var db1ychange = rate['db1ychange'];
                                var db2ychange = rate['db2ychange'];
                                var db3ychange = rate['db3ychange'];
                                var db5ychange = rate['db5ychange'];
                                var dc1ychange = rate['dc1ychange'];
                                var dc2ychange = rate['dc2ychange'];
                                var dc3ychange = rate['dc3ychange'];
                                var dc5ychange = rate['dc5ychange'];

                                var tempHtml = `
    <tr>
        <th class="text-nowrap" scope="row">${rank}</th>
        <th class="text-nowrap" scope="row">${gubun}</th>
        <th class="text-nowrap" scope="row">${coName}</th>
        <td class="">${floatRate}<br><small class="${colorRates(floatRatechange)}">${floatRatechange}</small></td>
        <td class="">${db1y}<br><small class="${colorRates(db1ychange)}">${db1ychange}</small></td>
        <td class="">${db2y}<br><small class="${colorRates(db2ychange)}">${db2ychange}</small></td>
        <td class="">${db3y}<br><small class="${colorRates(db3ychange)}">${db3ychange}</small></td>
        <td class="">${db5y}<br><small class="${colorRates(db5ychange)}">${db5ychange}</small></td>
        <td class="">${dc1y}<br><small class="${colorRates(dc1ychange)}">${dc1ychange}</small></td>
        <td class="">${dc2y}<br><small class="${colorRates(dc2ychange)}">${dc2ychange}</small></td>
        <td class="">${dc3y}<br><small class="${colorRates(dc3ychange)}">${dc3ychange}</small></td>
        <td class="">${dc5y}<br><small class="${colorRates(dc5ychange)}">${dc5ychange}</small></td>
        <td class=""><small>${period}</small></td>
        <td class=""><small>${bank_check}</small></td>
    </tr>
                            `
                                $('#tbodyRates').append(tempHtml);
                            }
                        }
                    }
                })
            }
        }


    </script>

    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

    <title>원펀치퇴직연금</title>

    <!--    <script data-ad-client="ca-pub-4295741603974812" async-->
    <!--            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->

    <!-- Style -->

    <style>
        * {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .head_banner {
            background-size: cover;
            color: white;
            width: 100%;
            height:200px;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
            vertical-align: middle;
            padding: 50px;
            background-image: url({{ url_for('static', filename='laptop_wine_4.jpg') }});
        }

        /* types: lighter < normal < bold < bolder */

        .head_text {
            font-weight: bold;
        }

        .grey_text {
            color: grey;
            font-weight: 400;
        }

        .lightgrey_text {
            color: darkgrey;
        }

        .songmyung_text {
            font-family: 'Song Myung', serif;
        }


        .rateStay {
            color: darkgrey;
        }

        .ratePlus {
            color: dodgerblue;
        }

        .rateMinus {
            color: orangered;
        }


    </style>

</head>
<body>
<div class="head_banner">
    <h2 class="head_text">퇴직연금 금리 한눈에</h2>
    <small>* 본 페이지는 공식 자료가 아니므로 크고작은 오류가 있을 수 있으며 참고로만 활용하시기 바랍니다 *</small>
</div>
<br>

<div class="bd-example mx-auto" style="width: 500px;">
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelectYr">연도</label>
            </div>
            <select class="custom-select" id="inputGroupSelectYr">
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option selected value="2020">2020</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelectMn">월도</label>
            </div>
            <select class="custom-select" id="inputGroupSelectMn">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option selected value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
    <small class="lightgrey_text">* 공동순위일 경우 무작위로 순위가 매겨집니다</small>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectGubun">랭킹기준</label>
        </div>
        <select class="custom-select" id="inputGroupSelectGubun">
            <option selected value="gubun_all">전체 업권으로 비교하기</option>
            <option value="gubun_ins">업권별로 묶기 (손/생보 통합)</option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectProduct">내림차순</label>
        </div>
        <select class="custom-select" id="inputGroupSelectProduct">
            <option value="floatRate">금리연동(RP)</option>
            <option selected value="db1y">DB 1년</option>
            <option value="db2y">DB 2년</option>
            <option value="db3y">DB 3년</option>
            <option value="db5y">DB 5년</option>
            <option value="dc1y">DC/IRP 1년</option>
            <option value="dc2y">DC/IRP 2년</option>
            <option value="dc3y">DC/IRP 3년</option>
            <option value="dc5y">DC/IRP 5년</option>
        </select>
    </div>
</div>

<br/>
<!-- 이 버튼이 조회버튼이야 -->
<div class="text-center">
    <button type="button" class="btn"
            onclick="filterRates()"
            style="background-color: grey; color:white;">
        <!-- onclick="alert($('#inputGroupSelectProduct').val())" -->
        조회
    </button>
</div>
<!-- 위에가 조회버튼 -->
<br>
<div class="text-right">
    <button type="button" class="btn" style="background-color:seagreen; color:white;">엑셀내리기</button>
</div>
<br>
<table class="table table-bordered table-striped text-center">
    <thead>
    <tr>
        <th rowspan="2" class="">
            순위
        </th>
        <th rowspan="2" class="">
            업권
        </th>
        <th rowspan="2" class="">
            회사명
        </th>
        <th rowspan="2" class="">
            금리연동형<br>
            <small>(RP)</small>
        </th>
        <th class="" colspan="4">
            DB
        </th>
        <th class="" colspan="4">
            DC/IRP
        </th>
        <th class="" colspan="2">
            공시정보
        </th>
    </tr>
    <tr>
        <th class=""><small>1년</small></th>
        <th class=""><small>2년</small></th>
        <th class=""><small>3년</small></th>
        <th class=""><small>5년</small></th>

        <th class=""><small>1년</small></th>
        <th class=""><small>2년</small></th>
        <th class=""><small>3년</small></th>
        <th class=""><small>5년</small></th>

        <th class=""><small>적용기간</small></th>
        <th class=""><small>공시시각</small></th>
    </tr>
    </thead>
    <tbody id="tbodyRates">
    </tbody>
</table>
<br>
<div class="grey_text">
    <h9>데이터 업데이트 : 2020. 09. 03.</h9>
    <br>
    <h9>Report issues: nomorenogada@gmail.com</h9>
    <br>
    <h9>Powered by:
        <text class="songmyung_text">노가다해방전선</text>
    </h9>
</div>
<br>
</body>
</html>