<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript --> <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>원펀치퇴직연금</title>

    <sytle>
    </sytle>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal">원펀치 퇴직연금 금리</h1> <br>
    <h9>* 본 페이지는 공식 자료가 아니므로 크고작은 오류가 있을 수 있으며 참고로만 활용하시기 바랍니다 *</h9>
</div>
<div class=" p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h4 class="mb-3">비교묶음</h4>
    <div class="d-block my-3">
        <div class="custom-control custom-radio">
            <input id="allSectors" name="groupHow" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="allSectors">전체 업권으로 비교하기</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="bySectorsTotal" name="groupHow" type="radio" class="custom-control-input" required="">
            <label class="custom-control-label" for="bySectorsTotal">업권별로 묶기 (손/생보 통합)</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="bySectorsDiv" name="groupHow" type="radio" class="custom-control-input" required="">
            <label class="custom-control-label" for="bySectorsDiv">업권별로 묶기 (손/생보 별도)</label>
        </div>
    </div>
    <h4 class="mb-3">순위기준</h4>
    <div class="d-block my-3">
        <div class="custom-control custom-radio">
            <input id="by_floatRate" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_floatRate">금리연동(RP)</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_db1y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_db1y">DB 1년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_db2y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_db2y">DB 2년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_db3y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_db3y">DB 3년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_db5y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_db5y">DB 5년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_dc1y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_dc1y">DC 1년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_dc2y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_dc2y">DC 2년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_dc3y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_dc3y">DC 3년</label>
        </div>
        <div class="custom-control custom-radio">
            <input id="by_dc5y" name="by_which" type="radio" class="custom-control-input" checked="" required="">
            <label class="custom-control-label" for="by_dc5y">DC 5년</label>
        </div>
    </div>
    <button>조회</button>
</div>
<br>
<div>
    <button>엑셀내리기</button>
</div>
<br>
<table class="table table-bordered table-striped text-center">
    <thead>
    <tr>
        <th rowspan="2" class="">
            순위
        </th>
        <th rowspan="2" class="">
            업권
        </th>
        <th rowspan="2" class="">
            회사명
        </th>
        <th rowspan="2" class="">
            금리연동형<br>
            <small>(RP)</small>
        </th>
        <th class="" colspan="4">
            DB
        </th>
        <th class="" colspan="4">
            DC/IRP
        </th>
        <th class="" colspan="2">
            공시정보
        </th>
    </tr>
    <tr>
        <th class=""><small>1년</small></th>
        <th class=""><small>2년</small></th>
        <th class=""><small>3년</small></th>
        <th class=""><small>5년</small></th>

        <th class=""><small>1년</small></th>
        <th class=""><small>2년</small></th>
        <th class=""><small>3년</small></th>
        <th class=""><small>5년</small></th>

        <th class=""><small>적용기간</small></th>
        <th class=""><small>공시시각</small</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-nowrap" scope="row">1</th>
        <th class="text-nowrap" scope="row">손보</th>
        <th class="text-nowrap" scope="row">KB손해보험</th>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class=""><small>2020.08.01<br>~ 2020.08.31</small></td>
        <td class=""><small>2020.07.28</small></td>
    </tr>
    <tr>
        <th class="text-nowrap" scope="row">1</th>
        <th class="text-nowrap" scope="row">손보</th>
        <th class="text-nowrap" scope="row">KB손해보험</th>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class="">1.25<br><small>+3</small></td>
        <td class=""><small>2020.08.01<br>~ 2020.08.31</small></td>
        <td class=""><small>2020.07.28</small></td>
    </tr>
    </tbody>
</table>
<br>
<div>
    <h9>데이터 업데이트 : 2020. 07. 28. // 이건 바꾼당. ${}이런거 써서</h9>
    <br>
    <h9>Report issues: nomorenogada@gmail.com</h9>
    <br>
    <h9>Powered by: 노가다해방전선 // 이건 로고 폰트 바꾼당</h9>
</div>
</body>
</html>