<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript --> <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>원펀치퇴직연금</title>

    <sytle>
    </sytle>
</head>
<body>
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container center">
            <h1 class="title">원펀치 퇴직연금 금리</h1>
            <h9 class="subtitle">* 본 페이지는 공식 자료가 아니므로 크고작은 오류가 있을 수 있으며 참고로만 활용하시기 바랍니다 *</h9>
        </div>
    </div>
</section>
<div>
    // 조회 필터가 들어갈 자리 //
</div>
<br>
<div>
    <button>엑셀내리기</button>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="text-center">
        금리연동형<br>
        <small>(RP)</small>
      </th>
      <th class="text-center">
        DB<br>
        <small>1년</small>
      </th>
      <th class="text-center">
        DB<br>
        <small>2년</small>
      </th>
      <th class="text-center">
        DB<br>
        <small>3년</small>
      </th>
      <th class="text-center">
        DB<br>
        <small>5년</small>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="text-nowrap" scope="row">KB손해보험</th>
      <td>None (auto)</td>
      <td>540px</td>
      <td>720px</td>
      <td>960px</td>
      <td>1140px</td>
    </tr>
    <tr>
      <th class="text-nowrap" scope="row">삼성생명</th>
      <td>1.25</td>
      <td>1.30</td>
      <td>1.35</td>
      <td>1.40</td>
      <td>1.45</td>
    </tr>
  </tbody>
</table>
<br>
<div>
    <h9>데이터 업데이트 : 2020. 07. 28. // 이건 바꾼당. ${}이런거 써서 </h9> <br>
    <h9>Report issues: nomorenogada@gmail.com </h9> <br>
    <h9>Powered by: 노가다해방전선 // 이건 로고 폰트 바꾼당</h9>
</div>
</body>
</html>